# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release


# Folders and files created by Flutter and Dart tools

.packages
.env
.metadata
build/

# Android specific files
android/.gradle/
android/build/
android/app/build/
local.properties


# iOS specific files
ios/Pods/
ios/.symlinks/
.ios/.DS_Store
ios/.DS_Store

# macOS specific files
macos/

# Linux specific files
linux/

# Windows specific files
windows/

# Log files and temporary files
ml_predictions.log

# Temporary backup files
*~
scripts/care-connect-app-37a32-firebase-adminsdk-fbsvc-359903fd5d.json
lib/firebase_options.dart